.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.text{
    margin-top: 40px;
    color: #6ed24b;
}

.title {
    font-size: 70px;
    font-weight: 600;
}